html
{
font-size: 100%;
font-family: Verdana, Arial, Helvetica, sans-serif; 
background:#010080;
color:#fff1ff;
}
#left
{
    width: 48.5%;
    float: left;
	border: 6px double #4bcfff ;
	min-height:850px;
}
#right
{
    width: 48.5%;
    width: 48.5%;
    float: right;
	border: 6px double #4bcfff ;
	min-height:850px;
}
#time
{
 font-size:18px;
 font-weight:600;
 margin-left:90%;
 background-color:#027f81;
 color:black;
 float:right;
}
p:link {background: blue}
p:visited {background: grey}
p:hover {background: #027f81}

p.file
{
color:#e9f76e;
}
p.cmd
{
color:#2cdfff;
}

#menu{
margin: 0 auto;
display:block;
}

            
ul {
	text-align: justify;
	overflow: hidden;
	height: 20px; 
	cursor: default; 
	
	background: #000e19;

}
li {
	display: inline; 
	background: #000e19;
	
	
}
li a {
	display: inline-block; 
	color: #fff;
}
 li :hover{
background: #027f81;
}
a:hover {
	color: #ff0000;
}
ul:after { 
	content: "1";
	margin-left: 100%;
	height: 1px;
	overflow: hidden;
	display: inline-block;
}








